*{
    padding: 0;
    margin: 0;
}

.div-mercado{
    width: 100%;
    height: 99vh;
    background-color: rgb(221, 248, 221);
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.div-tituloPagina{
    width: 30%;
    align-self: flex-end;
    padding-right: 150px;

}
.tituloPagina{
    font-family: sans-serif;
    color:green;
    font-size: 30px;
    margin-top: 30px;
    text-align: end;
    width: 100%;


}
.tituloMercado{
    text-align: start;
    padding-left: 20px;
    margin-bottom: 10px;
    font-family: sans-serif;
    color:green;
    font-size: 30px;
}
.div-feira{
    height: 45%;
}

.div-titulo{
    display: flex;
    justify-content: start;
}


.div-preco{
    display: flex;
    justify-content: space-between;
    width:220px;
}

.nomeProduto{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    color:gray;

}

.preco{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 17px;
    color:gray;

}



.principal{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    width: 90%;

}

.card-mercado{
    display: grid;
    width: 300px;
    height: 330px;
    justify-items: center;
    margin-left: 20px;
    border: 2px solid gray;
    border-radius: 5px;

}

.img-mercado{
    width: 300px;
    display: grid;
    border-radius: 5px;

}

.botao-adicionar{
    width: 280px;
    height: 30px;
    margin-bottom: 2px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 13px;
    border: 2px solid green;
    color: green;
    background-color: white;
    font-size: 15px;
}

button:hover{
    background-color: green;
    color:white;
}


.div-outroItens{
    height: 55%;
}
